# EDA - nyc airbnb dataset

### Importing the libraries we will need for this exercise

In [ ]:
import wandb
import pandas as pd
import pandas_profiling

## Downloading the dataset

We are going to download the file with the data: `sample.csv` the last version we have in **W&B** -> `sample.csv:latest` and load it in a pandas dataframe(**df**).

In [2]:
run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)
local_path = wandb.use_artifact("sample.csv:latest").file()
df = pd.read_csv(local_path)

wandb: Currently logged in as: pruanju. Use `wandb login --relogin` to force relogin

## Pandas profiling report


<p>We are going generate the report from pandas profiling that it will provide useful information to analyze the dataset like for example:</p>
<br>

<li>Essentials: type, unique values, indication of missing values.</li>
<li>Descriptive statistics: mean, mode, standard deviation, sum, median absolute deviation, coefficient of variation, kurtosis, skewness.</li>
<li>Histograms: categorical and numerical.</li>
<li>Correlations: high correlation warnings.</li>
<li>Missing values: through counts, matrix, heatmap and dendrograms.</li>
<li>Duplicate rows: list of the most common duplicated rows.</li>
<li>Extreme values.</li>

In [8]:
profile = pandas_profiling.ProfileReport(df)

In [9]:
profile.to_widgets()

Summarize dataset: 100%|█████████████████████████████████████████████████████████████████████████████████| 131/131 [00:09<00:00, 13.79it/s, Completed]
Generate report structure: 100%|████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:03<00:00,  3.08s/it]
Render widgets:   0%|                                                                                                           | 0/1 [00:00<?, ?it/s]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaN,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8
5,4402805,LRG 2br BKLYN APT CLOSE TO TRAINS AND PARK,22807362,Jenny,Brooklyn,Prospect-Lefferts Gardens,40.66025,-73.96270,Entire home/apt,120,3,3,2018-08-28,0.05,1,16
6,30070126,✩Prime Renovated 1/1 Apartment in Upper East S...,4968673,Sean,Manhattan,Upper East Side,40.76831,-73.95929,Entire home/apt,200,5,2,2019-05-26,0.68,1,71
7,34231172,Fully renovated brick house floor in Brooklyn,59642348,Kevin,Brooklyn,Sunset Park,40.64550,-74.01262,Entire home/apt,95,1,9,2019-07-08,9.00,1,106
8,5856760,"Renovated 1BR in exciting, convenient area",29408349,Chad,Manhattan,Chinatown,40.71490,-73.99976,Entire home/apt,179,5,7,2017-04-18,0.14,1,0
9,7929441,Beautiful Loft w/ Waterfront View!,1453898,Anthony,Brooklyn,Williamsburg,40.71268,-73.96676,Private room,105,2,232,2019-06-19,5.00,3,64

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19990,5192459,Quiet Room in 4BR UWS Brownstone,10677483,Greg,Manhattan,Upper West Side,40.80173,-73.96625,Private room,70,1,0,NaN,NaN,1,0
19991,1327940,Huge Gorgeous Park View Apartment!,3290436,Hadar,Brooklyn,Flatbush,40.65335,-73.96257,Entire home/apt,120,3,13,2016-08-27,0.28,2,327
19992,23612681,Shared Room 1 Stop from Manhattan on the F Train,55724558,Taylor,Queens,Long Island City,40.76006,-73.94080,Private room,55,4,2,2019-06-01,0.65,5,89
19993,34485745,Midtown Manhattan Stunner - Private room,261632622,Royalton,Manhattan,Theater District,40.75491,-73.98507,Private room,100,1,3,2019-06-16,3.00,9,318
19994,25616250,"Stylish, spacious, private 1BR apt in Ditmas Park",125396920,Adam,Brooklyn,Flatbush,40.64314,-73.95705,Entire home/apt,75,3,10,2019-01-03,0.84,1,0
19995,7094539,Tranquil haven in bubbly Brooklyn,2052211,Adriana,Brooklyn,Windsor Terrace,40.65360,-73.97546,Entire home/apt,143,14,2,2016-08-27,0.04,1,10
19996,4424261,Large 1 BR with backyard on UWS,3447311,Sarah,Manhattan,Upper West Side,40.80188,-73.96808,Entire home/apt,200,2,22,2019-05-21,0.50,1,0
19997,4545882,Amazing studio/Loft with a backyard,23569951,Kaveh,Manhattan,Upper East Side,40.78110,-73.94567,Entire home/apt,220,3,28,2019-05-23,0.50,1,293
19998,26518547,U2 comfortable double bed sleeps 2 guests,295128,Carol Gloria,Bronx,Clason Point,40.81225,-73.85502,Private room,80,1,4,2019-07-01,1.48,7,365
19999,33631782,Private Bedroom in Williamsburg Apt!,8569221,Andi,Brooklyn,Williamsburg,40.71829,-73.95819,Private room,109,3,3,2019-04-28,1.07,2,97

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

### It is also possible to generate the report in `html` format to read it better

In [14]:
prof = pandas_profiling.ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset: 100%|█████████████████████████████████████████████████████████████████████████████████| 131/131 [00:13<00:00,  9.74it/s, Completed]
Generate report structure: 100%|████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:04<00:00,  4.61s/it]
Render HTML: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.21s/it]
Export report to file: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 79.64it/s]

## Analysis of the `pandas profiling` report

We can see that there are missing values in some columns like `last_review`and `reviews_per_month`, there are **4.123** missing values for these columns, so we need to think a strategy to input these missing values or delete the rows with missing data.

### Wrong data types
Another important point is that the column `last_review`the type is `string format`but has to be type `date`.

### Outliers
We can see that there are extreme values for the `price` column. They decided to delete prices lower than `10$` and bigger than `350$`



Pandas **dataframe.info()** function is used to get a concise summary of the dataframe. It comes really handy when doing exploratory analysis of the data. To get a quick overview of the dataset.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20000 non-null  int64
 1   name                            19993 non-null  object
 2   host_id                         20000 non-null  int64
 3   host_name                       19992 non-null  object
 4   neighbourhood_group             20000 non-null  object
 5   neighbourhood                   20000 non-null  object
 6   latitude                        20000 non-null  float64
 7   longitude                       20000 non-null  float64
 8   room_type                       20000 non-null  object
 9   price                           20000 non-null  int64
 10  minimum_nights                  20000 non-null  int64
 11  number_of_reviews               20000 non-null  int64
 12  last_review                     15877 non-null  object
 13  reviews_per_month               15877 non-null  float64
 14  calculated_host_listings_count  20000 non-null  int64
 15  availability_365                20000 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.4+ MB

As we said before we are going to delete **prices** between `10$` and `350$`, and convert **last_review** to `date type`.

In [17]:
# Drop outliers
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()
# Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

Quick check with `df.info()` after convert **last_review** to date type.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19001 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19001 non-null  int64
 1   name                            18994 non-null  object
 2   host_id                         19001 non-null  int64
 3   host_name                       18993 non-null  object
 4   neighbourhood_group             19001 non-null  object
 5   neighbourhood                   19001 non-null  object
 6   latitude                        19001 non-null  float64
 7   longitude                       19001 non-null  float64
 8   room_type                       19001 non-null  object
 9   price                           19001 non-null  int64
 10  minimum_nights                  19001 non-null  int64
 11  number_of_reviews               19001 non-null  int64
 12  last_review                     15243 non-null  datetime64[ns]
 13  reviews_per_month               15243 non-null  float64
 14  calculated_host_listings_count  19001 non-null  int64
 15  availability_365                19001 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 2.5+ MB

## Finishing the notebook

When we finish we need to close the connection with **W&B**.

In [ ]:
run.finish()